.col-width {
  max-width: 400px;
  margin: 0 auto;
}

.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.inline {
  display: inline-block;
  margin: 0 10px 0 0;
}

input[type=search] {
  box-shadow: none;
}
